<?xml version="1.0"?>
<model>
    <name>Panda</name>
    <version>1.0</version>
    <sdf>anymal.urdf</sdf>

    <author>
        <name>Nico Palomo</name>
        <email>npalomo@student.ethz.ch</email>
    </author>

    <description>
        URDF model of the ANYmal quadruped.
    </description>
</model>
