<?xml version="1.0"?>
<model>
    <name>Panda_with_sparkplug</name>
    <version>1.0</version>
    <sdf>panda.urdf</sdf>

    <author>
        <name>Paolo Maria Viceconte</name>
        <email>paolo.viceconte@iit.it</email>
    </author>

    <description>
        URDF model of the Franka Emika Panda robot holding a sparkplug.
    </description>
</model>
