<?xml version="1.0"?>
<model>
    <name>azure_kinect</name>
    <version>1.0</version>
    <sdf>azure_kinect.urdf</sdf>

    <author>
        <name>Nicholas Palomo</name>
        <email>npalomo@student.ethz.ch</email>
    </author>

    <description>
        URDF model of MS Azure Kinect.
    </description>
</model>
