<?xml version="1.0"?>
<model>
    <name>spark_plug_socket</name>
    <version>1.0</version>
    <sdf>spark_plug_socket.urdf</sdf>

    <author>
        <name>Nicholas Palomo</name>
        <email>npalomo@student.ethz.ch</email>
    </author>

    <description>
        URDF model of sparkplug socket.
    </description>
</model>
